{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <a class="btn btn-primary mb-3" href="{{ path('admin.category.create') }}">
        Create new category
    </a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary me-3" href="{{ path('admin.category.edit', {id: category.id}) }}">
                            Edit
                        </a>
                        <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger" type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
